
<div class="text-center notification">
    <div class="d-flex align-items-center justify-content-center">
        <button class="btn-grad-black btn-grad-black-liner m-1" id="find_couple_btn">
            <i class="bi bi-search-heart-fill"></i>
        </button>
        <img src="./static//bot_logo.jpg" class="rounded-circle m-1 connection_logo border border-2 border-success-subtle">
    </div>
    <div class="alert text-center m-0" role="alert">
        <span class="m-2 text-warning">
            ტგ ე მომწერე რა რაღაცის თქმა მინდა ძაან
        </span>
    </div>
</div>

