<div class="alert alert-dark rounded-1" role="alert">
    
    <div class="m-2 text-center">
        <img src="./static/no_img.jpg" class="img-thumbnail profile_img" alt="...">
    </div>


    <div class="input-group input-group-sm  mt-4">
        <input type="text" class="form-control" id="couple_name_inp" disabled>
    </div>
   
</div>