<div class="modal fade" id="player_modal" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content rounded-1">
            <div class="modal-header bg-black bg-gradient p-3 pt-2 pb-2">

                <div class="input-group input-group-sm">

                    <button type="button" class="btn-grad-black btn-grad-black-liner"
                        id="bach_to_music_collections_btn">
                        <i class="bi bi-box-arrow-left"></i> <small id="music_collection_name"></small>
                    </button>
                    <input type="text" class="form-control mx-2" placeholder="ძიება" id="music_search_input">
                    <button type="button" class="btn-grad-black btn-grad-black-liner">
                        <i class="bi bi-search-heart"></i>
                    </button>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="close_player_modal_btn" style="display: none;"></button>
            </div>

            <div class="modal-body bg-secondary-subtle pt-1 scrollspy-playlist-box">

                <div id="music_search_list">
                    <!-- Inner list content !!! -->
                </div>

                <div id="music_collection_list">
                    <!-- Inner list content !!! -->
                </div>

                <div id="music_collections_list">
                    <div class="row m-0 p-0">
                        <% music_collections.forEach(music_collection=> { %>
                            <div class="col-4 m-0 p-0">
                                <div class="card bg-secondary-subtle m-1 shadow_in music_collection_card text-light-emphasis "
                                    collection_name="<%= music_collection.name %>"
                                    onclick="App_Controller.get_music_collection(this.getAttribute('collection_name'))">
                                    <img src="<%= music_collection.poster_public_path %>" class="card-img-top"
                                        alt="...">
                                    <div class="card-body p-1">
                                        <h6 class="d-flex align-items-center justify-content-center text-center m-1"
                                            style="height: 35px;">
                                            <%= music_collection.name %>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>

            </div>

            <div class="modal-footer music_modal_player p-0 border-0" id="music_modal_player_box"
                style="display: none;">

                <div
                    class="d-flex align-items-center justify-content-end m-0 p-1 bg-secondary-subtle border-bottom w-100">
                    <button type="button" class="btn-grad-black btn-grad-black-liner mx-1" id="cansel_music_player_btn">
                        <i class="bi bi-folder-x"></i>
                    </button>
                    <button type="button" class="btn-grad-black btn-grad-black-liner mx-1" id="play_previous_music_btn">
                        <i class="bi bi-chevron-double-left"></i>
                    </button>
                    <button type="button" class="btn-grad-black btn-grad-black-liner mx-1" id="mix_music_btn">
                        <small id="player_current_music_index"></small>
                        <i class="bi bi-shuffle"></i>
                        <small id="player_total_music_index"></small>
                    </button>
                    <button type="button" class="btn-grad-black btn-grad-black-liner mx-1" id="play_next_music_btn">
                        <i class="bi bi-chevron-double-right"></i>
                    </button>
                    <button type="button" class="btn-grad-black btn-grad-black-liner mx-1" id="sharing_music_btn">
                        <i class="bi bi-people-fill"></i>
                    </button>
                </div>

                <div class="w-100 mb-0 mt-1">
                    <audio controls class="w-100 player_custom mb-0" id="music_modal_player"> </audio>
                </div>
            </div>
        </div>
    </div>
</div>